/* Importa a fonte 'Archivo Black' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Define as variáveis de cor */
:root {
    --amareloClaro: #ffeba7;
    --cinzaEscuro: #212529;
    --cinzaAzulado: #343A40;
    --cinzaAvermelhado: #333;
    --branco: #FFFFFF;
    --cinzaClaro: #ccc;
    --amareloEscuro: #b39f72;
    --preto: #000000;
  }

/* Estilos para a div-mae */
.div-mae {
    display: flex;
    /* Utiliza um layout flexível */
    flex-direction: row-reverse;
    /* Define a direção do eixo principal como de trás para frente */
    justify-content: space-between;
    /* Distribui o espaço disponível entre os elementos */
    width: 100%;
    /* Define a largura como 100% */
    align-items: center;
    /* Alinha os itens verticalmente ao centro */
    flex-wrap: nowrap;
    /* Impede a quebra de linha dos itens */
}