.titulo {
  text-align: center;
  color: var(--amareloClaro);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 2% 0;
}

.inputBusca {
  width: 40%;
  height: 2.5rem;
  background-color: var(--branco);
  color: var(--preto);
  border-radius: 5px;
  margin-bottom: 1%;
}

.tabelaHeader {
  /* background-color: var(--cinzaAvermelhado) !important; */
  color: var(--branco) !important;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--branco);
  position: sticky;
  top: 0;
  z-index: 1;
}

th {
  color: var(--branco)!important;
  background-color: var(--amareloClaro) !important;
}

.tabelaCorpo {
  color: var(--preto);
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--branco);
  background-color: var(--branco);
}

.cntTb {
  /* margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: calc(100vh - 140px);
  width: 100%; */
  overflow-x: auto; /* Adiciona barra de rolagem horizontal se necessário */
  overflow-y: auto;
  max-height: calc(100vh - 140px);
  width: 100%;
}

.table {
  width: 100%; /* Garante que a tabela use toda a largura disponível */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border: 1px solid var(--cinzaClaro);
  white-space: nowrap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tableHeigth {
  height: 50vh;
}

span {
  color: var(--amareloClaro);
  padding: 0 10px;
}

button {
  color: var(--amareloClaro);
  background-color: transparent;
  border: none;
}

button:disabled {
  color: grey;
}

@media (max-width: 768px) {
  .table th,
  .table td {
    font-size: 14px;
    word-break: break-word;
  }

  .pagination button {
    padding: 6px 12px;
  }

  .pagination input {
    width: 60px;
    padding: 6px;
  }
}
