/* Definição das variáveis de cor */
:root {
  --preto: #1B2124; /* Cor preta */
  --amarelo: #D7C99C; /* Cor amarela */
  --cinzaEscuro: #0E1A1F; /* Cor cinza escura */
}

/* Estilos para uma seção genérica */
.section {
  width: 100%; /* Largura total */
  background-color: var(--cinzaEscuro); /* Cor de fundo */
  padding: 50px 0; /* Preenchimento superior e inferior */
}

/* Estilos para um contêiner genérico */
.container {
  max-width: 1200px; /* Largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 15px; /* Preenchimento lateral */
}

/* Estilos para um grupo de formulário genérico */
.formGroup {
  margin-bottom: 20px; /* Margem inferior */
}

/* Estilos para um estilo de formulário genérico */
.formStyle {
  width: 100%; /* Largura total */
  padding: 15px; /* Preenchimento */
  border: 1px solid var(--preto); /* Borda */
  border-radius: 5px; /* Raio da borda */
  font-size: 16px; /* Tamanho da fonte */
  color: var(--preto); /* Cor do texto */
  background-color: var(--amarelo); /* Cor de fundo */
}

/* Estilos para um botão genérico */
.btn {
  display: inline-block; /* Exibe como bloco */
  padding: 10px 20px; /* Preenchimento */
  background-color: var(--amarelo); /* Cor de fundo */
  color: var(--preto); /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 5px; /* Raio da borda */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor */
  transition: background-color 0.3s ease; /* Transição suave */
}

/* Estilos de hover para um botão genérico */
.btn:hover {
  background-color: #b39f72; /* Cor de fundo ao pairar */
}

/* Estilos para um título genérico */
.h1 {
  color: white; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  font-family: "Archivo Black", sans-serif; /* Fonte */
  font-weight: 400; /* Peso da fonte */
  font-style: normal; /* Estilo da fonte */
}
