/* Estilo para o título da tabela */
.titulo {
  text-align: center;
  /* Alinha o texto ao centro */
  color: #ffeba7;
  /* Cor do texto */
  font-family: "Archivo Black", sans-serif;
  /* Define a fonte */
  font-weight: 400;
  /* Define o peso da fonte */
  font-style: normal;
  /* Define o estilo da fonte */
  margin: 2% 0;
  /* Adiciona margem superior e inferior */
}

/* Estilo para o cabeçalho da tabela */
.tabelaHeader {
  background-color: #333 !important;
  /* Cor de fundo do cabeçalho */
  color: #fff !important;
  /* Cor do texto do cabeçalho */
  text-align: center;
  /* Alinha o texto ao centro */
  vertical-align: middle;
  /* Alinha verticalmente */
  border: 1px solid #fff;
  /* Adiciona borda */
  position: sticky;
  /* Faz o cabeçalho ficar fixo */
  top: 0;
  /* Fixa o cabeçalho no topo */
  z-index: 1;
  /* Garante que o cabeçalho fique acima das linhas do corpo */
}

/* Estilo para o corpo da tabela */
.tabelaCorpo {
  color: #333;
  /* Cor do texto do corpo */
  text-align: center;
  /* Alinha o texto ao centro */
  vertical-align: middle;
  /* Alinha verticalmente */
  border: 1px solid #ccc;
  /* Adiciona borda */
  background-color: #f8f9fa;
  /* Cor de fundo do corpo */
}

/* Estilo para o container da tabela */
.cntTb {
  margin-top: 20px;
  /* Margem superior */
  margin-bottom: 20px;
  /* Margem inferior */
  overflow-x: auto;
  /* Adiciona barra de rolagem horizontal se necessário */
  max-height: 70vh;
  /* Altura máxima */
  overflow-y: auto;
  /* Adiciona barra de rolagem vertical se necessário */
}

/* Estilo para a tabela */
.table {
  width: 100%;
  /* Largura total */
  border-collapse: collapse;
  /* Remove espaços entre as células da tabela */
  margin-bottom: 20px;
  /* Margem inferior */
  margin-left: 20px;
  /* Margem esquerda */
  margin-right: 20px;
  /* Margem direita */
  max-width: calc(100% - 40px);
  /* Largura máxima */
}

/* Estilo para as células do cabeçalho e corpo da tabela */
.table th,
.table td {
  padding: 10px;
  /* Adiciona preenchimento interno */
  text-align: center;
  /* Alinha o texto ao centro */
  border: 1px solid #ccc;
  /* Adiciona borda */
}

/* Estilo para a paginação */
.pagination {
  display: flex;
  /* Exibe os elementos em linha */
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  margin-top: 20px;
  /* Margem superior */
}



.pagination input {
  width: 60px;
  /* Largura do input */
  padding: 8px;
  /* Adiciona preenchimento interno */
  margin: 0 5px;
  /* Adiciona margem */
  border: 1px solid #ccc;
  /* Adiciona borda */
  border-radius: 4px;
  /* Adiciona borda arredondada */
}

/* Estilos responsivos para telas menores que 768px */
@media (max-width: 768px) {

  .table th,
  .table td {
    font-size: 14px;
    /* Reduz o tamanho da fonte */
  }

  .pagination button {
    padding: 6px 12px;
    /* Adiciona preenchimento interno */
  }

  .pagination input {
    width: 50px;
    /* Largura do input */
    padding: 6px;
    /* Adiciona preenchimento interno */
  }
}