/* Define o estilo para a barra de navegação */
.CtnNavbar {
  background-color: #343a40;
  /* Um tom de cinza escuro */
  padding: 10px;
  /* Adiciona algum padding */
}
::after {
  color: #ffeba7;
}
/* Define o estilo para o texto e links na barra de navegação */


/* Define o estilo para a imagem do logo */
.logoImage {
  width: 70px;
  /* Aumenta o tamanho da imagem */
  height: 70px;
  /* Aumenta o tamanho da imagem */
  border-radius: 50%;
  /* Torna a imagem circular */
  margin-right: 10px;
  /* Espaçamento entre a imagem e o texto */
}

/* Define o estilo para os links de navegação */
.navbar-nav .nav-link,
.navbar-nav .dropdown-item,
.navbar-brand {
  color: #ffeba7 ;
  /* Cor #ffeba7 para os links de navegação */
  font-size: 16px;
  /* Define o tamanho da fonte para os links e itens do dropdown */
}

/* Define o estilo para os links de navegação ao passar o mouse */

.navbar, a {
  display: flex;
  align-items: center;
  color: #ffeba7!important;
  /* Cor do texto */
  text-decoration: none;
  /* Remove sublinhado dos links */
  font-size: 16px;
  /* Define o tamanho da fonte para todos os textos na barra de navegação */
  font-family: "Archivo Black", sans-serif;
  /* Define a fonte */
}
.navDropdown {
  color: #343a40!important;
}